div[role=tabpanel].togle{
}

th {
    color: #999999;
}

table[role=inc]{
    overflow-x: hidden;
}
tr {
    cursor: pointer;
}
.fixed-table-container{
    border: 0;
}
.fixed-table-pagination{
    background-color: #73879c;
    position: fixed;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    color: white;
}
.pagination-info{
    margin-left: 50px;
}