div[role=tabpanel].togle{
}
td,th{
    white-space: nowrap;
    overflow: hidden;
    color: #5b5b5b;
}
th {
    color: #b5b5b5;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
tr {
    cursor: pointer;
    height: 45px;
    padding: .35em;
}
.fixed-table-container{
    border: 0;
}
.fixed-table-pagination{
    background-color: #73879c;
    position: fixed;
    bottom: 0;
    left: 400px;
    right: 200px;
    color: white;
    width: 60%;
}
.pagination-info{
    margin-left: 50px;
}

.pull-right.search{
    position: relative;
    bottom: 49px;
    right: 30px;
}
.bootstrap-table{
    position: fixed;
    top: 90px;
    right: 0;
    left: 200px;
}
#detail-tab-table{
    margin-top: 2%;
}
#departmentTable{
    margin-top: 3%;
}
#deptMOOEtable{
    margin-top: 3%;
}
